$containerWidth: 940px;
$baseFontSize: 18px;

//z-indexes
$z-fixed-menu: 100;

//breakpoints

$tablets: 768px;
$phones: 480px;

//media
@import "media";

//normalize
@import "layout/normalize";
//fonts
@import "layout/fonts";
//layout
@import "layout/base";

//components
@import "components/mainpage";
@import "components/header";
@import "components/offers";
@import "components/overview";
@import "components/button";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";
@import "components/menu";
@import "components/phone";
@import "components/hamburger";
@import "components/logo";
@import "components/contacts";
@import "components/footer";
@import "components/socials";
@import "components/close-button";
@import "components/slider";
@import "components/team";
@import "components/modal";
@import "components/vmenu";
@import "components/ymap";
@import "components/video";
