.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(23px);
    background: #FFFFFF; 
}
.footer_container {
    display: flex;
    justify-content: space-between;
    
    @include tablets {
        width: 98%;
    }

    @include phones {
        flex-direction: column;
    }
}