.hamburger {
    width: rem(25px);
    height: rem(22px);
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
        margin-right: rem(4px);
    }
}
.hamburger__line {
    display: block;
    background: #FFFFFF;
    height: 4px;
    border-radius: 10px;
}