.mainpage__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(0px) rem(0px) rem(70px) rem(0px);

    @include tablets {
        width: 100%;
        padding: 0;
    }
}
.mainpage {
    background: url(../img/mainpic/bg.png) center top / cover no-repeat;
    height: 100vh;
    min-height: rem(655px);
    color: #FFFFFF;

    @include tablets {
        background: url(../img/mainpic/bg.png) left 82% bottom 30% / cover no-repeat;
    }
}
