.main__overview {
    width: 40%;

    @include tablets {
        margin: 0 auto;
        margin-top: 10px;
        width: 92%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @include phones {
       margin-top: 0;
       margin-bottom: rem(20px);
    }
}
.main__overview-title {
    font-size: rem(48px);
    font-weight: bold;
    line-height: rem(58px);
    margin-bottom: rem(20px);

    @include phones {
        line-height: (36px);
        font-size: rem(40px);
        margin-bottom: rem(12px);
    }
}
.main__overview-text {
    font-size: rem(21px);
    margin-bottom: rem(37px); 

    @include phones {
        font-size: rem(18px);
        line-height: rem(20px);
    }
}