.team__container {
    margin-bottom: rem(100px);
}
.team__title {
    font-size: rem(21px);
    font-weight: bold;
    color: #292929;
    margin-bottom: rem(6px);
    margin-left: rem(-13px);

    @include tablets {
        margin-bottom: rem(15px);
        padding-left: rem(17px);
    }

    @include phones {
        margin-bottom: rem(14px);
        padding-left: rem(7px);
        margin-left: 0;
    }
}
.triangle {
    width: rem(9px);
    height: rem(9px);
    transition: transform 0.3s;

    &--active {
        transform: rotate(180deg);
    }
}
.team--version--desktop {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.team--version--mobile {
    display: none;

    @include tablets {
        display: block;
    }
}
.team-section__title {
    margin-bottom: rem(48px);

    @include tablets {
        margin-bottom: rem(28px);
    }

    @include phones {
        margin-bottom: rem(36px);
    }
}
.team__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-right: rem(10px);

    @include phones {
        margin-bottom: -9px;
        margin-right: rem(0px);
    }
}
.team__member {
    margin-bottom: rem(21px);
  
    @include tablets {
        margin-bottom: rem(18px);
        margin-right: 0;
    }
}
.team__img {
    @include phones {
        width: rem(137px);
        height: rem(177px);
        margin-bottom: rem(-3px);
    }
}
.team__content {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.team__content-block {
   

    @include tablets {  
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.team--version--desktop {
    @include tablets {
        display: none;
    }
}
.team--version--desktop .team__content {
    position: absolute;
    top: 100%;
}
.team__occupation {
    font-size: rem(18px);
    color: #000000;
    padding-bottom: rem(7px);

    @include tablets {
        font-weight: bold;
        padding-bottom: 0;
    }
}
.team__text{
    width: 98%;
    line-height: rem(21.6px);
    padding-left: rem(10px);

    @include tablets {
        padding-bottom: 20px;
        padding-left: rem(3px);
    }
    @include phones {
       
    }
}