.form {
    display: flex;
}
.form__col {
    flex: 1;
    margin-right: 36px;

    &:last-child {
        margin-right: 0;
    }
}
.form__row {
    display: flex;
    padding-top: 5px;
}
.form__row--right {
    flex-direction: column;
}
.form__block {
    flex: 1;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}
.form__title {
    color: #FFFFFF;
}
.form__input {
    width: 100%;
    padding: 18px 12px;
    border: solid 3px transparent;
    border-radius: 4px;

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }

    &--textarea {
        height: 152px;
        resize: none;
        margin-bottom: 28px;
    }
}
.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}
.form__buttons {
    margin-top: 26px;
}