.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(44px);

    @include tablets {
        background: #1968B1;
    }
}
.header__menu {
    margin: 0 30px;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}