.headline {
    text-align: center;
}
.headline__title {
    margin-bottom: 0px;
}
.headline__subtitle {
    font-size: $baseFontSize;
    padding: 1% 27%;
    margin-bottom: 51px;
    line-height: 22px;
}