.headline {
    text-align: center;
}
.headline__title {
    margin-bottom: rem(9px);
}
.headline__subtitle {
    padding: 1% 27%;
    margin-bottom: rem(51px);
    line-height: rem(22px);

    @include phones {
        padding: 0;
        line-height: 1.1;
    }
}