.mainpage__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0px 70px 0px;
}
.mainpage {
    background: url(../../img/mainpic/bg.png) center top / cover no-repeat;
    height: 100vh;
    min-height: 655px;
    color: #FFFFFF;
    margin-bottom: 102px;
}