.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__item {
  margin-right: 34px;
}
.offer__item:last-child {
  margin-right: 0px;
}

.offer__img {
  width: 36px;
  height: 36px;
}