.main__overview {
    width: 40%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* @include phones {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    } */
}
.main__overview-title {
    font-size: rem(48px);
    font-weight: bold;
    line-height: rem(58px);
    margin-bottom: rem(17px);

    @include phones {
        line-height: 1;
    }
}
.main__overview-text {
    font-size: rem(21px);
    margin-bottom: rem(37px); 
}