.main__overview {
    width: 40%;
}
.main__overview-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 17px;
}
.main__overview-text {
    font-size: 21px;
    margin-bottom: 37px;
}