.socials__link {
    display: block;
    text-decoration: none;
    width: rem(20px);
    height: rem(20px);

    
    background: center center no-repeat;
    fill: #B3B3B3;

    &--active {
        fill: black;
    }
}
.socials__item {
    margin-right: rem(14px);

    @include phones {
        margin-right: 18px;
    }
}
.socials__link:last-child {
    margin-right: 0;
}
.socials {
    margin-right: rem(60px);
    display: flex;
    align-items: center;

    @include phones {
    display: flex;
    justify-content: center;
        
    }
}
.socials__item--vk {
    padding-top: rem(10px);

    @include phones {
        padding-left: 16%;
    }

}
