$containerWidth: 940px;
$baseFontSize: 18px;

//z-indexes
$z-fixed-menu: 100;

//normalize
@import "layout/normalize";
//fonts
@import "layout/fonts";
//layout
@import "layout/base";

//components
@import "components/mainpage";
@import "components/header";
@import "components/offers";
@import "components/overview";
@import "components/button";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";
