.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
        margin: 0;
    }
    @include phones {
        padding: 0;
        flex-direction: column;
    }
}
.form__col {
    flex: 1;
    margin-right: rem(36px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}
.form__row {
    display: flex;
    padding-top: rem(5px);

    @include phones {
        padding-top: 0;
        margin-bottom: rem(11px);
    }
}
.form__row--right {
    flex-direction: column;
}
.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
    &--textarea {
        margin-right: 0;
    }
}
.form__title {
    color: #FFFFFF;
}
.form__input {
    width: 100%;
    padding: rem(18px) rem(12px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    @include tablets{
        padding: rem(8px);
    }
    
    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(5px) rem(8px);

        @include tablets {
            padding: rem(18px);
            height: 100%;
            margin-bottom: rem(18px);
        }
    }

}
.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(18px);

    @include tablets {
        margin-bottom: 18px;
    }
    @include phones {
        justify-content: center;
    }
}
.form__buttons {
    margin-top: rem(26px);
    margin-bottom: 1rem;
    display: flex;
    
    
    @include tablets {
        margin-top: rem(23px);
        justify-content: center;
    }
}
.input-error {
    border: 2px solid red;
}