.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(44px);

    @include tablets {
        background: #1968B1;
        padding: rem(26px) rem(31px);
    }
    
    @include phones {
        padding: rem(25px) rem(10px);
    }
}
.header__menu {
    margin: 0 30px;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}
.logo__icon {
    height: rem(39px);
    width: rem(56px);
}