.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(41px);

    @include tablets {
        background: #1968B1;
        padding: rem(31px) rem(29px) rem(21px)rem(33px);
    }
    
    @include phones {
        padding: rem(25px) rem(9px) rem(20px);
        margin-bottom: rem(173px);
    }
}
.header__menu {
    margin: 0 30px;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}
.logo__icon {
    height: rem(39px);
    width: rem(56px);
}