.menu {
    @include tablets {
        display: none;
    }
}
.menu__list {
    display: flex;
    align-items: center;
    font-size: rem(18px);
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.menu__item {
    margin-right: rem(22px);
    margin-bottom: 10px;

    &:last-child {
        margin-right: rem(0px);
    }
}
.menu__link {
    text-decoration: none;
    white-space: nowrap;
}