.slider {
    position: relative;
}
.slider__container {
    margin-bottom: rem(257px);
}
.slider__item {
    display: flex;
    align-items: flex-start;
    padding: 0 rem(37px) 0 rem(71px);

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}
.slider__overview {
    flex: 1;
    padding-top: rem(14px);

    @include tablets {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    }
}
.slider-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__arrow {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    z-index: 3;

    &--prev {
        left: rem(-23px);

        @include tablets {
            left: 18%;
        }

        @include phones {
            top: 30;
            left: 0;
        }
    }

    &--next {
        right: rem(-12px);

        @include tablets {
            right: 20%;
        }

        @include phones {
            right: 0;
        }
    }

    @include tablets {
        top: 30%;
    }

    @include phones {
        top: 27%;
    }
}
.slider__pic {
    margin-right: rem(65px);
    position: relative;
    
    @include tablets {
        margin-right: 0;
        display: flex;
        align-items: center;
        margin-bottom: rem(10px);
        width: rem(310px);
        height: rem(390px);
    }

    @include phones {
        width: rem(242px);
        height: rem(347px);
        margin-bottom: rem(25px);
    }
    
}
.slider__pic-spot {
    position: absolute;
    width: rem(400px);
    height: rem(400px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include tablets {
        width: rem(306px);
        height: rem(292px);
        transform: translate(-54%, -43%);
    }

    @include phones {
        width: rem(243px);
        height: rem(232px);
    }
}
.slider__arrow-svg {
    height: rem(30px);
    width: rem(14px);
    fill: none;
    stroke: black;
    stroke-width: 2px;
}
.slider__title {
    margin-bottom: rem(21px);
    font-size: rem(36px);
    font-weight: bold;
    color: #000000;

    @include tablets {
        font-size: rem(30px);
        margin-bottom: rem(11px);
        margin-left: rem(-16px);
    }

    @include phones {
        margin-bottom: rem(10px);
        margin-left: 0;
    }
}
.slider__description-wrap {
    display: inline-block;
    position: relative;

    &:hover .slider__dropdown {
        left: 100%;
    }
}
.slider__description-img {
    display: block;
    width: rem(90px);
    height: rem(90px);
    padding: rem(17px) rem(5px) rem(12px);
    background: #3A587E;
    border: 1px solid transparent;
    border-radius: 5%;
    color: #FFFFFF;
    font-size: rem(14px);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-bottom: rem(50px);

    @include tablets {
        display: none;
    }
}
.slider__description-icon {
    width: rem(38px);
    height: rem(38px);
    fill: #FFFFFF;
}
.slider__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablets {
        align-items: center;
        margin-bottom: 0;
    }
}
.slider__text {
    text-align: left;
    margin-bottom: rem(22px);
    line-height: rem(21.6px);
    width: 98%;
    padding-left: rem(2px);

    @include tablets {
        width: 74%;
        text-align: center;
        margin-left: rem(-13px);
    }
    @include phones {
        width: 80%;
        padding: 0;
        padding-left: 0;
        margin-bottom: 23px;
}
}
.slider__parameters {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(8px);

    @include phones {
        margin-bottom: 0;
    }
}
.slider__parameters-list {
    display: flex;

    @include tablets {
        padding-left: rem(36px);
        padding-left: rem(22px);
        padding-top: 2px;
    }
    
    @include phones {
        padding-left: rem(30px);
        margin-bottom: rem(2px);
    }
}
.slider__parameters-item {
    margin-right: rem(52px);

    &:last-child {
        margin-right: 0;
    }
}
.slider__parameters-item--length {
    font-weight: bold;
    color: #000000;

    @include tablets {
        margin-top: rem(-4px);
        margin-bottom: rem(-4px);
    }

}
.slider__order {
    display: flex;
    align-items: center;

    @include tablets {
        padding-top: rem(6px);
    } 
    
    @include phones {
        padding-left: 0;
        padding-top: rem(2px);
    }
}
.slider__order-value {
    font-size: rem(60px);
    color: #151515;
    margin-right: rem(55px);

    @include tablets {
        margin-right: rem(38px);
        margin-left: rem(-7px);
       
    }

    @include phones {
        margin-right: rem(35px);
    }

.slider-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow__svg {
    height: rem(20px);
    fill: none;
    stroke: black;
    stroke-width: 2px;
}
.slider__title {
    margin-bottom: rem(14px);
    font-size: rem(30px);
    font-weight: bold;
    color: #000000;
}
.slider__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__parameters {
    display: flex;
    justify-content: center;
}
.slider_parameters__list {
    display: flex;
    margin-bottom: rem(24px);
}
.slider__parameters-item {
    margin-right: rem(52px);

    &:last-child {
        margin-right: 0;
    }
  
}
.slider__parameters-item--length {
    font-weight: bold;
    color: #000000;
}
}
.dropdown {
    min-width: rem(273px);
    position: absolute;
    left: -9999px;
    top: 0;
    padding: rem(18px) rem(13px);
    background: #D5D5D5;
}
.dropdown__item {
    display: flex;
    align-items: center;
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 600;
    color: #000000;
    padding: rem(6px) rem(12px);
    margin-bottom: rem(8px);
}
.dropdown__icon {
     width: rem(32px);
     height: rem(32px);
     margin-right: rem(12px);
}
.dropdown__params {
    margin-left: auto;
}
.bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
}
.modal {
    display: none;
}