@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 3.75vmin;
  }
}

html, body {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  color: #666666;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: greyscale;
  margin: 0rem;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.vmenu {
  background: url(../img/vmenu/main.png) center center/cover no-repeat;
  position: relative;
  color: #FFFFFF;
}
.vmenu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 480px) {
  .vmenu {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.vmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .vmenu__list {
    position: unset;
  }
}

.vmenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333537;
}
@media screen and (max-width: 480px) {
  .vmenu__item {
    max-width: 5rem;
  }
  .vmenu__item--active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    max-width: unset;
  }
}
.vmenu__item--active .vmenu__content {
  opacity: 1;
}

.vmenu__button {
  color: #FFFFFF;
  min-width: 5.55rem;
  background: center center/cover no-repeat;
  position: relative;
  max-width: 5.6666666667rem;
  text-decoration: none;
}
.vmenu__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.vmenu__button-text {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  bottom: 0;
  left: 50%;
}
@media screen and (max-width: 480px) {
  .vmenu__button-text {
    font-size: 2.2222222222rem;
  }
}

.vmenu__content {
  background: #333537;
  width: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.vmenu__text {
  padding: 1.7222222222rem 2.1111111111rem;
}

.main-title__white {
  width: 20%;
  height: 20%;
  -webkit-transform: translate(4.6666666667rem, -10.3888888889rem);
          transform: translate(4.6666666667rem, -10.3888888889rem);
  font-size: 2.6666666667rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main-title__white {
    -webkit-transform: translate(37px, -225px);
            transform: translate(37px, -225px);
  }
}
@media screen and (max-width: 480px) {
  .main-title__white {
    width: 10%;
    height: 10%;
    font-size: 2.2222222222rem;
    -webkit-transform: translate(-103px, 66px);
            transform: translate(-103px, 66px);
  }
}