$containerWidth: 940px;
$baseFontSize: 18px;

//z-indexes
$z-fixed-menu: 100;

//breakpoints

$tablets: 768px;
$phones: 480px;

//media
@import "./media.scss";

//layout
@import "layout/base";

//components
@import "components/*.scss";

